<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.oranch.agenciaturismo">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity android:name=".recursos.SplashScreen"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TutorialActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.PrincipalActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.ContactenosActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.SubmenuActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.ItemActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.OfertaActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.ItemDescripcionActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.NosotrosActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAXHjxA2wGYdsggySjlG0Ywc3m5Y6oxFpw" />

        <service
            android:name="pe.oranch.agenciaturismo.utilities.FirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <service
            android:name="pe.oranch.agenciaturismo.utilities.FirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>